<section class="mx-auto p-4">
    <h2 class="text-3xl font-bold mb-2">Casas</h2>
    <h3 class="text-xl text-gray-500 mb-2">{{houses().length}} casas disponibles</h3>
</section>

<section class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 px-4">
    @for (house of houses(); track house.id;) {
        <div class="card bg-base-100 shadow-sm rounded-t-lg overflow-hidden">
            <app-mini-map [coordinates]="house.lngLat"/>
            <div class="card-body">
                <h2 class="card-title">
                    {{house.name}}
                </h2>
                <p>{{house.description}}</p>
                <div class="card-actions justify-end">
                    @for (tag of house.tags; track $index) {
                        <div class="badge badge-outline">{{tag}}</div>
                    }
                </div>
            </div>
        </div>
    }
</section>